entry
{
    background: #353535;
    /* border: solid black 0 0 1px 0; */
    border-top: 0;
    border-right: 0;
    border-left: 0;

    border-radius: 5px 5px 0 0;
}

entry:focus
{
    border: none;
    border-bottom: solid rgb(255, 255, 255) 1px;
    box-shadow: none;
}

.mainWindow *, .pswWindow *
{
    color: white;
}

.mainWindow, .pswWindow
{
    background-color: #121212;
}

.pswWindow *
{
    margin: 2px;
}

.pswWindow button
{
    background: #353535;
    color: white;
}

menubar, menubar *
{
    background: transparent;
}

.mainWindow button
{
    background: transparent;
    font-size: 30px;

    border: none;
    box-shadow: none;
}